<% include ./partials/header %>

<script src="/javascript/jquery.slides.min.js"></script>
<script src="/javascript/show.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/slides.css">

<div class="ui main text container segment">
    <div class="ui huge header"><%= car.make + " " + car.model %></div>
    <div class="ui top attached">
        <div class="item">
            <div id="slides">
                <% car.image.forEach(function(url){ %>
                    <img src="<%= url %>">
                <% }) %>
            </div>
            <div class="description">
                <p><%= car.body %></p>
            </div>
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <table class="ui definition table">
                            <tbody>
                                <tr>
                                <td class="two wide column">Make</td>
                                <td><%= car.make %></td>
                                </tr>
                                <tr>
                                <td>Model</td>
                                <td><%= car.model %></td>
                                </tr>
                                <tr>
                                <td>Trim</td>
                                <td><%= car.trim %></td>
                                </tr>
                            </tbody>
                        </table>
                        <% if(currentUser) { %>
                        <a class="ui blue basic button" href="/cars/<%- car._id %>/edit">Edit</a>
                        <form action="/cars/<%= car._id %>?_method=delete" id="delete" method="POST">
                            <button class="ui red basic button">Delete</button>
                        </form>
                        <% } %>
                    </div>
                    <div class="column">
                        <table class="ui definition table">
                            <tbody>
                                <tr>
                                <td class="two wide column">Miles</td>
                                <td><%= car.miles %></td>
                                </tr>
                                <tr>
                                <td>Year</td>
                                <td><%= car.year %></td>
                                </tr>
                                <tr>
                                <td>Price</td>
                                <td>$<%= car.format.price %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>